<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated seiler-phpunit-setup -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	cacheDirectory=".phpunit.cache"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="seiler-2026-theme (integration)">
			<!-- WP convention: test-*.php -->
			<directory prefix="test-" suffix=".php">tests/</directory>
			<!-- PHPUnit default: *Test.php -->
			<directory suffix="Test.php">tests/</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory>src/vendor</directory>
			<directory>src/vendor-dev</directory>
		</exclude>
	</source>
</phpunit>
