<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

	<!-- wp:pattern {"slug":"seiler-2026/hero-slider"} /-->

	<!-- wp:pattern {"slug":"seiler-2026/features-three-col"} /-->

	<!-- wp:pattern {"slug":"seiler-2026/industries-grid"} /-->

	<!-- wp:pattern {"slug":"seiler-2026/cta-banner"} /-->

	<!-- wp:pattern {"slug":"seiler-2026/partner-logos"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
